<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pet</title>
</head>
<body>
    <h1>{{pet.name}}</h1>
    <ul>
        <li><img src="{{pet.photo_url}}"></li>
        <li>{{pet.species}}</li>
        <li>{{pet.age}}</li>
        {% if pet.notes %}
        <li>{{pet.notes}}</li>
        {% endif %}
    </ul>
    <hr>
    <form method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
          <p>{{field.label}}</p>
          <p>{{field}}</p>
        <span>
          {% if field.errors %}
          {% for error in field.errors %}
          <b>{{error}}</b>
          {% endfor %}
          {% endif %}
        </span>
        {% endfor %}
        <button type="submit">Update</button>
    </form>
    <a href="/">Homepage</a>
</body>
</html>